.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.header {
  margin: 2rem;
  text-align: center;
  display: flex;
}
.tables{
    display: flex;
}
 tbody>tr>td{
    padding:60px;
    text-align: center;
}
.bids{
    background-color: #beffb1;
}
.asks{
    background-color:#fb9aaa;
}